* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
}

body header nav ul li {
  display: inline;
  float: left;
}

body header nav ul li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body header nav ul li a:hover {
  background-color: white;
  color: black;
  opacity: 1;
  transition: 0.3s;
}
main section ul {
  list-style-type: none;
}
main section img {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sticky {
  position: fixed;
  top: 20px;
}

main section button {
  background-color: dodgerblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

main section button:hover {
  background-color: white; /* Green */
  border: 1px solid dodgerblue;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

h2 {
  margin: 10px;
}

.cartao_cursos_livres {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 5px solid deeppink;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0%   {border-left: 5px solid red; left:0px; top:0px;}
  25%  {border-left: 5px solid yellow; left:200px; top:0px;}
  50%  {border-left: 5px solid blue; left:200px; top:200px;}
  75%  {border-left: 5px solid green; left:0px; top:200px;}
  100% {border-left: 5px solid red; left:0px; top:0px;}
}

.cartao_experiencia_profissional {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 5px solid orange;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

.cartao_formacao_academica {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 5px solid mediumseagreen;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

.cartao_sobre_mim {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 5px solid dodgerblue;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

.cartao_identificacao {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 5px solid mediumpurple;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

footer{
  text-align: center;
  padding: 50px;
}

.bg-image {
  /* The image used */
  background-image: url("/images/BingWallpaper.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

body, html {
  height: 100%;
}